@import url(../CSS/reset.css);
@import url(../CSS/var.css);

body {
    background-color: var(--color-background);
    max-width: 1440px;
    margin: auto;
}


.grid {
    display: grid;
}

header {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    background-color: var(--color-background);
    z-index: 1000;
    padding: 8px 0px;
}

.header-container {
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.header-search {
    grid-template-columns: auto 1fr auto auto;
    align-items: center;
    justify-self: center;
    width: 405px;
    padding: 10px;
    height: 40px;
    background-color: var(--bg-color-input);
    border-radius: 25px;
    gap: 10px;
}

input {
    width: 238px;
    background: transparent;
    border: none;
    padding: 0 12px 0 12px;
    color: var(--color-text);
    outline: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-login , .menu {
    column-gap: 24px;
    grid-template-columns: auto auto auto;
    align-items: center;
}

.menu img {
    margin-right: 8px;
}

.header-login img {
    border-radius: 20px;
}

.icon-small {
    height: 24px;
    cursor: pointer;
}

.image-login {
    height: 34px;
    cursor: pointer;
}

.logo-icon {
    height: 20px;
    cursor: pointer;
}

.grid-main {
    display: grid;
    grid-template-columns: 13.62rem 1fr;
    column-gap: 28px;
}

.sidebar {
    grid-template-rows: repeat(11, auto);
    row-gap: 6px;
}

.list-sidebar {
    grid-template-columns: auto 1fr;
    column-gap: 16px;
    align-items: center;
    padding: 11px 0;
}

.list-sidebar .home {
    font-weight: 700;
}

h4 {
    color: var(--color-text);
    font-weight: 400;
    font-size: 0.87rem;
    line-height: 16.41px;
}

.list-sidebar:hover {
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--bg-color-input);
}